html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-size: 16px;
  background: linear-gradient(to top, #ff4b1f, #ff9068);

  .container {
    display: grid;
    max-width: calc(100vw - 10%);
    margin: 0 auto;
    padding-top: 5%;
    grid-template-rows: auto auto;
    grid-template-columns: 2fr 1fr;

    .item {
      text-align: center;
      margin: 1rem;

      &:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: -1;
      }
    }
    .search__container {
      .search__form {
        align-items: center;
        margin: auto 0;
        height: 100%;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 2fr 1fr;
        .search__field {
          .search__input {
            width: 90%;
            height: 30px;
            border-radius: 1.5rem;
            margin: auto 0;
            padding: 0.5rem 0 0.5rem 1rem;
          }
        }
        .search__buttons {
          .search__button {
            padding: 1rem;
            margin: 0.5rem;
            background-color: #ff4b1f;
            color: #fff;
            text-transform: uppercase;
            font-weight: 600;
            border-radius: 0.5rem;
            border: none;
            &:hover,
            &:active {
              background-color: #fff;
              color: #ff4b1f;
              cursor: pointer;
            }
          }
        }
      }
    }

    .images__container {
      padding: 1rem;
      background: rgba(255, 255, 255, 0.5);
      border-radius: 1.5rem;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
      grid-auto-rows: minmax(100px, auto);
      grid-gap: 1rem;

      .image__container {
        &:nth-child(3n) {
          grid-column-end: span 2;
        }
        .image__img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .queries__container {
      background: rgba(255, 255, 255, 0.5);
      border-radius: 1.5rem;
      .query__container {
        background: rgba(255, 255, 255, 0.5);
        display: flex;
        justify-content: space-between;
        padding: 1rem;

        .query__button {
          padding: 0.5rem;
          background-color: #ff4b1f;
          color: #fff;
          text-transform: uppercase;
          font-weight: 600;
          border-radius: 0.5rem;
          border: none;

          &:hover,
          &:active {
            background-color: #fff;
            color: #ff4b1f;
            cursor: pointer;
          }
        }
      }
    }
  }
}
